---
- name: App nodes | packages & services
  hosts: app
  become: true
  gather_facts: false

  vars:
    web_pkg: nginx
    web_svc: nginx

  tasks:
    - name: Install web package
      ansible.builtin.apt:
        name: "{{ web_pkg }}"
        state: present
        update_cache: true
      tags: [packages]

    - name: Enable & start web service
      ansible.builtin.service:
        name: "{{ web_svc }}"
        enabled: true
        state: started
      tags: [services]
